body {
  background-color: gray;
}

header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -30px;
  text-align: center;
  background-color: rgb(153, 47, 47);
  position: fixed;
}

#about-me,
#blog-posts,
#github {
  width: 200px;
  border: 1px solid;
  padding: 5px;
}

.navigation-bar {
  background-size: cover;
  display: inline-flex;
  margin-top: -50px;
}

.about-me-content {
  overflow-wrap: break-word;
  display: inline-block;
  width: 400px;
  vertical-align: top;
  font-size: 105%;
}

.about-me {
  padding-top: 125px;
  text-align: center;
}

.family-content {
  margin-left: auto;
  margin-right: auto;
  font-size: 105%;
  max-width: 400px;
}

a:link {
  color: black;
}

a:hover {
  color: rgba(119, 13, 13, 0.425);
}

a:visited {
  color: black;
}

.builds-heading {
  padding-top: 125px;
  text-align: center;
}

.build-images {
  text-align: center;
}

footer {
  background-color: rgba(119, 13, 13, 0.425);
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

.blog-post-list {
  padding-top: 125px;
  display: table;
  margin: 0 auto;
}

.blog-posts {
  border-width: 2px;
}

#container {
  padding-top: 125px;
  max-width: 900px;
  text-indent: 50px;
  margin: auto;
}
